// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  min-width: 22%;
  max-height: 450px;

  .card-content {
    margin: 0 auto;
  }
}

.container {
  width: 800px;
  margin: 0 auto;
  // border: 1px solid black;
  background-color: white;
  padding: 2em;
}

.product-image {
  position: relative;
}

.slideshow {
  position: relative;
  max-width: 200px;
  max-height: 100px;
}