// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 800px;
  margin: 0 auto;
  // border: 1px solid black;
  background-color: white;
  padding: 2em;
}

header {
  margin-bottom: 3em;
}

footer {
  margin-top: 2em;
  font-size: 0.8em;
  color: #555;
}